pre.normalize{
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.clickable{
	cursor: pointer;
}
/* .custom-tag-input:focus{
	border: 0px !important;
	} */
.custom-required{
	font-size: 8px !important;
	color: #e02222 !important;
}

.tutorial{
	
}